header {
  background-color: #e60023;
}
.logo {
  height: 100px;
  width: auto;
}

.bgHeaderCards {
  background-color: #4682b4;
}

.fontTable {
  font-family: "Press Start 2P", cursive;
}
.fuego{
    color: #F05030
}
.acero{
    color: #A8A8C0
}

.agua {
    color: #3899F8
}
.bicho {
    color: #A8B820
}
.dragon {
    color: #7860E0
}
.electrico {
    color: #F8D030
}
.fantasma {
    color: #6060B0
}
.hada{
    color: #E79FE7
}
.hielo {
    color: #58C8E0
}
.lucha{
    color: #A05038
}
.normal{color: #A8A090 }
.planta{color: #78C850 }
.psiquico{color: #F870A0 }
.roca{color: #B8A058 }
.siniestro{color: #7A5848 }
.tierra{color: #E9D6A4 }
.veneno{color: #B058A0 }
.volador{color: #98A8F0 }